body {

margin:10px auto;
  background-color: rgb(25, 49, 70);
  width:100vw;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-size: cover;
  color: rgb(238, 214, 170);
  text-align: center;
}
main{
	
}
.navbar {
	display:flex;
  background-color: #f76c6c !important;
  width: 100%;
  color: #ffffff !important;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: flex-end;
}
h1{
	width:100%;
}
.form-container {
  background: rgba(60, 72, 77, 0.85);
  width: 80vw;
  text-align: left;
  margin: 20px auto;
  border-radius: 10px;
  padding: 20px;
}
.container {
  background: rgba(60, 72, 77, 0.85);
  width: 80vw;
  text-align: center;
  margin: 20px auto;
  border-radius: 10px;
  padding: 20px;
}
.question-text{
	padding:15px;
}
.form-elements{
	padding:15px;
}
.button {
  color: #495057;
  margin: 20px;
  text-align: center;
  background-color: rgb(92, 216, 148);
  width: 200px;
  height: 3rem;
  border-radius: 10px;
  font-weight: bold;
  border: hidden;
  text-decoration:none;
  font-size:20px;
}
.submit-button {
  color: #495057;
  margin: 10px auto;
  text-align: center;
  background-color: rgb(92, 216, 148);
  width: 100px;
  height: 1.6rem;
  border-radius: 5px;
  font-weight: bold;
  border: hidden;
  text-decoration:none;
}
.submit-botton:hover {
  color: rgb(51, 143, 92);
  background-color: aliceblue;
}
.botton:hover {
  color: rgb(51, 143, 92);
  background-color: aliceblue;
}

.questionbox{
	width:80%;
	height:1.4rem;
	margin-left:10px;
	border-radius:5px;
	
}
.textfield{
	
	width:200px;
	height:1.6rem;
	margin-bottom:10px;
	border-radius:5px;	

}